h1{
 color: blueviolet;   
 font-size: 200px;
}
p{
    color: rgb(179, 104, 104);
}
h2{
    color: aquamarine;
}

h3{
    color: darkorange;
}
 h4{
    color: deepskyblue;
 }
 h5{
    color: brown;
 }