h1{
 color: blueviolet;   
 font-size: 100px;
 text-decoration: underline;
}
p{
    color: rgb(179, 104, 104);
    font-size: 20px;
    font-style: italic;
} 
#p2{
    font-style: normal;
}
h2{
    color: aquamarine;
    font-size: ;
}
#p3{
    font-style: oblique;
}

h3{
    color: darkorange;
}
#p4{
    font-style: normal;
}
 h4{
    color: deepskyblue;
 }
 h5{
    color: brown;
 }