h1{
    color: blue
    font-size: 100px
    font-stye: normal
}
p{
    color: black;
    font-size: 30px;
    font-style: italic;
}
h2{
    color: brown;
    font-size: 40px;
    

    #p2{
        font-style: normal;
        font-size: 30px;
        color: rgb(204, 12, 12);
        
    
    h4{
        font-style: oblique
        ;color: brown;
        font-size: x-large

    

h3{
    color: rgb(133, 22, 238);
    font-size: 40px;
    font-style: italic;
    

.container {
  text-align: center;
}


 




